/* *{border-radius: 8px;padding: 3px;} */
/*html{background: black;color:gray;}*/
/* 反白選取 */
::selection{background: darkred;color:yellow;}
::-moz-selection{background: darkred;color:yellow;}

body {background: -webkit-linear-gradient(right, peru 0.00%, gold 90.00%);background: linear-gradient(right, peru 0.00%, gold 90.00%);}

table{height: 100%;width: 100%;border: 0;text-align: center;}

/* 全部按鈕 */
button {border-radius: 15px;border:0; background: -webkit-linear-gradient(top, #ffe 0%, #ddd 15%, #bbb 85%, #777 100%); background: linear-gradient(top, #ffe 0%, #ddd 15%, #bbb 85%, #777 100%);box-shadow: 4px 3px 4px silver,8px 7px 7px gray;}
button:active,textarea:active{border-color: indigo #f3f #f6f indigo;border-width:5px;border-style:solid;box-shadow: -5px -5px 20px darkorchid;}
/* 上邊全部按鈕 */
.tdup{height: 10vh;width: 50vw;}
/* 各別按鈕 */
#addPWA{height: 90%;color: blue; font-size: 12pt; text-align: justify;}
#reload{height:90%;color: green; font-size: 18pt;  text-align: justify;}
/* 下邊全部按鈕 */
.tddown{height: 20vh;width: 25vw;}
.btnshow{height: 90%;width: 90%; color: brown; font-size: 24pt; }


/* .btnmula{height: 20vh;width: 100%;}
.divmula{height: 80vh;width: 100%;} */

iframe {height: 60vh;width: 100%;overflow: auto;background-image: url(icons/sd512.png);background-size: 100% 100%;}
/* 全部頁面 */
.divShow{display: none;}
/* 各別頁面 */
/* #div0 {background:#ccc;background:#fec;} */
#div1 {display: block;}

#div2 {background:#ebe;height: 70vh;width: 100%;text-align: center;}
#nfShow,#gkShow{height: 50%;width: 100%;padding: 10vh 0 0 0 ; font-size: 24pt;color: blue;overflow: auto;}
.nfNumClass{font-size: 24pt;color: green;width: 50vw;}
.nf{font-size: 24pt;color: indigo;}

#div3 {background:#aea;height: 70vh;width: 100%;text-align: center;}
/* #div3 {background:#ff8;} */
.gkNumClass{font-size: 24pt;color: purple;width: 50vw;}
#gkNum2{width: 30vw;}
.gk{color: green;}

/* #div4 {background:#f99} */
#div4 {background:tan;height: 70vh;width: 100%;}
.clean{color: black;display: none;position: absolute;}
.clean td{padding: 5px 5px;}
#cleanShow{height: 90%;width: 100%;overflow: auto;
    /* background-image: url(icons/sd512.png);background-size: 100% 100%;opacity: 0.5; */
}
/* 日期、人名樣式 */
span{color: darkgreen;}
font{color: crimson;}
/* 關於我 */
#me,#me td{border:1px solid black;font-size: 16pt;color:black;text-align: left;border-spacing:0 0 ;}
#txt1{width: 1px;height: 1px;border: 0;}

/* 豎屏狀態的css */
@media screen and (orientation:portrait){
/* *{border-radius: 8px;padding: 3px;} */
/*html{background: black;color:gray;}*/
/* 反白選取 */
/* ::selection{background: darkred;color:yellow;}
::-moz-selection{background: darkred;color:yellow;} */

/* body {background: -webkit-linear-gradient(right, peru 0.00%, gold 90.00%);background: linear-gradient(right, peru 0.00%, gold 90.00%);} */

/* table{height: 100%;width: 100%;border: 0;text-align: center;} */

/* 全部按鈕 */
button {border-radius: 25px;box-shadow: 8px 7px 8px silver,16px 14px 14px gray;}
/* button:active,textarea:active{border-color: indigo #f3f #f6f indigo;border-width:5px;border-style:solid;box-shadow: -5px -5px 20px darkorchid;} */
/* 上邊全部按鈕 */
.tdup{height: 8vh;}
/* 各別按鈕 */
#addPWA{ font-size: 24pt;}
#reload{ font-size: 36pt;}
/* 下邊全部按鈕 */
.tddown{height: 10vh;}
.btnshow{ font-size: 48pt; }


/* .btnmula{height: 20vh;width: 100%;}
.divmula{height: 80vh;width: 100%;} */

iframe {height: 75vh;}
/* 全部頁面 */
/* .divShow{display: none;} */
/* 各別頁面 */
/* #div0 {background:#ccc;background:#fec;} */
/* #div1 {display: block;} */

/* #div2 {background:#ebe;height: 70vh;width: 100%;text-align: center;} */
#nfShow,#gkShow{height: 60%;font-size: 48pt;}
.nfNumClass{font-size: 48pt;}
.nf{font-size: 48pt;}

/* #div3 {background:#aea;height: 70vh;width: 100%;text-align: center;} */
/* #div3 {background:#ff8;} */
.gkNumClass{font-size: 48pt;}
/* #gkNum2{width: 30vw;}
.gk{color: green;} */

/* #div4 {background:#f99} */
/* #div4 {background:tan;height: 70vh;width: 100%;text-align: center;} */
/* .clean{margin: -40% 0 0 30%;} */
#cleanShow{ font-size: 48pt;}
#me,#me td{font-size: 32pt;}
}